@font-face {
    font-family: "fnt1";
    src: url(./font1)
}

@font-face {
    font-family: "fnt2";
    src: url(./KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: "fnt1";
    font-size: clamp(14px,1vw,18px);
}

body{
    background-color: #fff;
}

// https://flutter.dev/ecosystem

@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section{
    max-width: 1600px;
}


header{
    width: 100%;
    @include flex-column(1rem);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    nav{
        width: 100%;
        @include flex-column(0rem);
        .nav-part2{
            display: none;
        }

        .top{
            width: 100%;
            padding: 1rem;
            background-color: royalblue;
            color: #fff;
        }

        .bottom{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 1.8rem 2rem;
       
            .box{
                width: 40%;
                img{
                    width: 100%;
                }
            }

            .icon{
                font-size: 1.3rem;
            }
        }
    }
}

main{
    width: 100%;
    @include flex-column(1rem);
    align-items: center;
    margin-top: 7rem;
    section.view1{
        width: 100%;
        @include flex-column(1rem);
        background: linear-gradient(#f3fcff,#fcdfeae8);
        padding: 4rem 0rem;

        .top{
            width: 100%;
            @include flex-column(6rem);
            padding: 1rem;
            

            .top-up{
                width: 100%;
                // padding-top: 4rem;
                img{
                    width: 100%;
                }
            }

            .top-bottom{
                width: 100%;
                h1{
                    text-align: center;
                    font-size: 3.2rem;
                    line-height: 1.1;
                }
            }
        }

        .bottom{
            padding: 6rem 2rem;
            width: 100%;
            p{
                text-align: center;
                font-size: 2.3rem;
                width: 97%;
            }
        }
        
    }

    section.view2{
        width: 100%;
        @include flex-column(0rem);
        padding: 1rem;

        .container{
            width: 100%;
            @include flex-column(1.5rem);
            padding: 3.3rem 1rem; 
            .card{
                width: 100%;
                @include flex-column(2rem);
                border-top: .3rem solid #e8eaed;
                padding: 2rem 0rem;

                h3{
                    font-size: 1.6em;
                    text-transform: capitalize;
                }

                p{
                    font-size: 1.3rem;
                    width: 83%;
                    opacity: .7;
                    padding-bottom: 2rem;
                }

                .image{
                    width: 85%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    section.view3{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
            }
        }

        .bottom{
            width: 100%;
            padding: 1rem;
            @include flex-column(1rem);
            padding-bottom: 5rem;

            .text{
                width: 100%;
                @include flex-column(1rem);

                h4{
                    text-transform: capitalize;
                    font-size: 1.5rem;
                    opacity: .8;
                }

                h1{
                    font-size: 3.1rem;
                }
                
                p{
                    font-size: 1.25rem;
                    width: 90%;
                    opacity: .75;
                    line-height: 1.5;
                    margin-bottom: 1rem;
                }
            }

            .btns{
                width: 100%;
                @include flex-column(2rem);

                button{
                    width: fit-content;
                    font-weight: 700;
                    padding: .7rem 2rem;
                    border: 1px solid royalblue;
                    color: royalblue;
                    border-radius: 3rem;
                }

                a{
                    text-decoration: none;
                    font-weight: 700;
                    color: #111;
                    margin-left: 2rem;
                }
            }
        }
    }

    section.view4{
        width: 100%;
        @include flex-column(2rem);
        padding: 3rem 1rem;
        background: linear-gradient(#e2e7ea,#fcfce2);
        .top{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .bottom{
            width: 100%;
            @include flex-column(2rem);
            padding: 1rem;

            h4{
                font-size: 1.3rem;
                opacity: .8;
            }

            h1{
                font-size: 3.3rem;
                line-height: 1;
            }

            p{
                font-size: 1.3rem;
                opacity: .8;
                width: 95%;
                line-height: 1.4;
            }

            button{
                width: fit-content;
                padding: .9rem 2.4rem;
                font-size: 1rem;
                font-weight: 700;
                border: none;
                border-radius: 3rem;
                background-color: #0468d7;
                color: #fff;
            }
        }
    }

    section.view5{
        width: 100%;
        @include flex-column(2rem);
        padding: 3rem 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .bottom{
            width: 100%;
            @include flex-column(2rem);
            padding: 1rem;

            h4{
                font-size: 1.3rem;
                opacity: .8;
            }

            h1{
                font-size: 3.3rem;
                line-height: 1;
            }

            p{
                font-size: 1.3rem;
                opacity: .8;
                width: 95%;
                line-height: 1.4;
            }

            button{
                width: fit-content;
                padding: .9rem 2.4rem;
                font-size: 1rem;
                font-weight: 700;
                border: 1px solid #0468d7;
                border-radius: 3rem;
                background-color: transparent;
                color: #0468d7;
            }
        }
    }

    section.view6{
        width: 100%;
        @include flex-column(2rem);
        padding: 3rem 1rem;
        background: linear-gradient(#e2e7ea,#fcfce2);
        .top{
            width: 100%;

            img{
                width: 100%;
            }
        }

        .bottom{
            width: 100%;
            @include flex-column(2rem);
            padding: 1rem;

            h4{
                font-size: 1.3rem;
                opacity: .8;
            }

            h1{
                font-size: 3.3rem;
                line-height: 1;
            }

            p{
                font-size: 1.3rem;
                opacity: .8;
                width: 95%;
                line-height: 1.4;
            }

            button{
                width: fit-content;
                padding: .9rem 2.4rem;
                font-size: 1rem;
                font-weight: 700;
                border: none;
                border-radius: 3rem;
                background-color: #0468d7;
                color: #fff;
            }
        }
    }
    
    // section.view7{
    //     width: 100%;
    //     @include flex-column(0rem);
    //     padding: 2rem;
    //     .container{
    //         width: 100%;
    //         @include flex-column(2rem);
    //         padding: 9rem 3rem;
    //         background-image: url(https://storage.googleapis.com/cms-storage-bucket/get-started-background.72521e62275b24d3c37d.png);
    //         background-size: cover;
    //         border-radius: 2rem;
    //         background-position: -10rem 0rem;
    //         background-color: #042449;

    //         .top{
    //             width: 100%;
    //             @include flex-column(1rem);
    //             color: #fff;

    //             h1{
    //                 font-size: 3.5rem
    //             }

    //             p{
    //                 font-size: 1.25rem;
    //             }
    //         }

    //         .bottom{
    //             width: 100%;
    //             @include flex-column(1rem);
    //         }
    //     }
    // }
}

@media (min-width:900px) {
    header{

        nav{

            .nav-part2{
                display: flex;
                align-items: center;
                gap: 3.5rem;

                a{
                    font-size: .93rem;
                    font-weight: 700;
                    opacity: .9;
                    font-family: "fnt2";
                    text-decoration: none;
                    color: #111;
                    text-transform: capitalize;
                }

                a:nth-child(3){
                    color: royalblue;
                }

                button{
                    padding: .7rem 2.3rem;
                    font-size: 1rem;
                    text-transform: capitalize;
                    border: none;
                    background-color: royalblue;
                    color: #fff;
                    border-radius: 2rem;
                }
            }

            .top{
                text-align: center;
                font-weight: 500;
                font-size: 1rem;
                border-bottom: 2px solid #000;
                background: linear-gradient(to right,#0f76fb,#8140f3);
            }

            .bottom{
                 width: 100%;
                padding: 1.8rem 3rem;
       
                .box{
                    width: 9%;
                    img{
                        width: 100%;
                    }
                }

                .icon{
                    display: none;
                }
            }
        }
    }

    main{
        width: 100%;
        section.view1{
            padding: 10rem 12rem;
            .top{
                flex-direction: row-reverse;
                .top-up{
                    width: 57%;
                    margin-top: -5rem;
                    img{
                        width:100%;
                    }
                }

                .top-bottom{
                    width: 43%;
                    h1{
                        text-align: left;
                        font-size: 4.5rem;
                        width: 100%;
                        line-height: 1.1;
                    }
                }
            }
            
            .bottom{
                @include flex-column(0rem);
                align-items: center;
                padding: 0rem 1rem;
                width: 100%;
                p{
                    text-align: center;
                    width: 83%;
                }
            }
        }

        section.view2{
            flex-direction: row;

            .container{
                flex-direction: row;
                padding: 3rem 10rem;

                .card{
                    padding: 1.9rem 0rem;
                    h3{
                        font-size: 1.84rem;
                    }
                }
            }
        }

        section.view3{
            @include flex-column(5rem);
            flex-direction: row-reverse;
            padding: 0rem 8rem;

            .top{
                width: 45%;
                img{
                    width: 85%;
                }
            }

            .bottom{
                width: 45%;
                padding-top: 8rem;

                .text{
                    width: 100%;

                    h1{
                        font-size: 4rem;
                    }
                }

                .btns{
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        section.view4{
            flex-direction: row;
            padding: 2.5rem 9.5rem;
            gap: 1rem;
            background: linear-gradient(to right, #fcfce2,#e2e7ea);

            .top{
                width: 50%;
                padding-top: 2rem;
                img{
                    width: 80%;
                }
            }

            .bottom{
                width: 50%;

                h1{
                    font-size: 4rem;
                }
                
                p{
                    width: 81%;
                }
            }
        }
        section.view5{
            flex-direction: row-reverse;
            padding: 2rem 9.5rem;
            gap: 7rem;

            .top{
                width: 50%;
                img{
                    width: 100%;
                }
            }

            .bottom{
                width: 50%;
                margin: 6rem 4rem;
                h1{
                    font-size: 4rem;
                    width: 90%;
                }
                
                p{
                    width: 100%;
                }
            }
        }

        section.view6{
            flex-direction: row;
            padding: 2.5rem 9.5rem;
            gap: 1rem;
            background: linear-gradient(to right, #fcfce2,#e2e7ea);

            .top{
                width: 50%;
                padding-top: 2rem;
                img{
                    width: 80%;
                }
            }

            .bottom{
                width: 50%;

                h1{
                    font-size: 4rem;
                }
                
                p{
                    width: 81%;
                }
            }
        }
    }
}