@font-face {
  font-family: "fnt1";
  src: url(./font1);
}
@font-face {
  font-family: "fnt2";
  src: url(./KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "fnt1";
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #fff;
}

section {
  max-width: 1600px;
}

nav {
  max-width: 1600px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
header nav .nav-part2 {
  display: none;
}
header nav .top {
  width: 100%;
  padding: 1rem;
  background-color: royalblue;
  color: #fff;
}
header nav .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.8rem 2rem;
}
header nav .bottom .box {
  width: 40%;
}
header nav .bottom .box img {
  width: 100%;
}
header nav .bottom .icon {
  font-size: 1.3rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 7rem;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(#f3fcff, rgba(252, 223, 234, 0.9098039216));
}
main section.view1 .top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 1rem;
}
main section.view1 .top .top-up {
  width: 100%;
  padding-top: 4rem;
}
main section.view1 .top .top-up img {
  width: 100%;
}
main section.view1 .top .top-bottom {
  width: 100%;
}
main section.view1 .top .top-bottom h1 {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1.1;
}
main section.view1 .bottom {
  padding: 6rem 2rem;
  width: 100%;
}
main section.view1 .bottom p {
  text-align: center;
  font-size: 2.3rem;
  width: 97%;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem;
}
main section.view2 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.3rem 1rem;
}
main section.view2 .container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 0.3rem solid #e8eaed;
  padding: 2rem 0rem;
}
main section.view2 .container .card h3 {
  font-size: 1.6em;
  text-transform: capitalize;
}
main section.view2 .container .card p {
  font-size: 1.3rem;
  width: 83%;
  opacity: 0.7;
  padding-bottom: 2rem;
}
main section.view2 .container .card .image {
  width: 85%;
}
main section.view2 .container .card .image img {
  width: 100%;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
}
main section.view3 .bottom {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
}
main section.view3 .bottom .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .bottom .text h4 {
  text-transform: capitalize;
  font-size: 1.5rem;
  opacity: 0.8;
}
main section.view3 .bottom .text h1 {
  font-size: 3.1rem;
}
main section.view3 .bottom .text p {
  font-size: 1.25rem;
  width: 90%;
  opacity: 0.75;
  line-height: 1.5;
  margin-bottom: 1rem;
}
main section.view3 .bottom .btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main section.view3 .bottom .btns button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  padding: 0.7rem 2rem;
  border: 1px solid royalblue;
  color: royalblue;
  border-radius: 3rem;
}
main section.view3 .bottom .btns a {
  text-decoration: none;
  font-weight: 700;
  color: #111;
  margin-left: 2rem;
}

@media (min-width: 900px) {
  header nav .nav-part2 {
    display: flex;
    align-items: center;
    gap: 3.5rem;
  }
  header nav .nav-part2 a {
    font-size: 0.93rem;
    font-weight: 700;
    opacity: 0.9;
    font-family: "fnt2";
    text-decoration: none;
    color: #111;
    text-transform: capitalize;
  }
  header nav .nav-part2 a:nth-child(3) {
    color: royalblue;
  }
  header nav .nav-part2 button {
    padding: 0.7rem 2.3rem;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    background-color: royalblue;
    color: #fff;
    border-radius: 2rem;
  }
  header nav .top {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 2px solid #000;
    background: linear-gradient(to right, #0f76fb, #8140f3);
  }
  header nav .bottom {
    width: 100%;
    padding: 1.8rem 3rem;
  }
  header nav .bottom .box {
    width: 9%;
  }
  header nav .bottom .box img {
    width: 100%;
  }
  header nav .bottom .icon {
    display: none;
  }
  main {
    width: 100%;
  }
  main section.view1 .top {
    flex-direction: row-reverse;
  }
  main section.view1 .top .top-up {
    width: 45%;
    padding-top: 3.6rem;
  }
  main section.view1 .top .top-up img {
    width: 100%;
  }
  main section.view1 .top .top-bottom {
    width: 50%;
    padding: 12rem;
    text-align: left;
  }
  main section.view1 .top .top-bottom h1 {
    font-size: 4rem;
    width: 100%;
    line-height: 1.1;
  }
  main section.view1 .bottom {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: center;
    padding: 5rem;
    width: 100%;
  }
  main section.view1 .bottom p {
    text-align: center;
    width: 67%;
  }
  main section.view2 {
    flex-direction: row;
  }
  main section.view2 .container {
    flex-direction: row;
    padding: 3rem 10rem;
  }
  main section.view2 .container .card {
    padding: 1.9rem 0rem;
  }
  main section.view2 .container .card h3 {
    font-size: 1.84rem;
  }
  main section.view3 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex-direction: row-reverse;
    padding: 0rem 8rem;
  }
  main section.view3 .top {
    width: 45%;
  }
  main section.view3 .top img {
    width: 85%;
  }
  main section.view3 .bottom {
    width: 45%;
    padding-top: 8rem;
  }
  main section.view3 .bottom .text {
    width: 100%;
  }
  main section.view3 .bottom .text h1 {
    font-size: 4rem;
  }
  main section.view3 .bottom .btns {
    flex-direction: row;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */